.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1200px;
}

.box {
	flex: 1;
	padding: 20px;
}

.form-box {
	flex: 1;
}

.results-wrap {
	flex: 1;
}

.basic-box {
	flex: 1 1 25%;
}

.savings-box {
	flex: 1 1 25%;
}

.red {
	color: red;
	font-weight: bold;
	font-size: 1.2em;
}

.green {
	color: green;
	font-weight: bold;
	font-size: 1.2em;
}

input, label {
	display: block;
	width: 100%;
}

input {
	height: 50px;
	border: #e6e6e6 solid 1px;
	text-indent: 10px;
	font-size: 1.5em;
	color: #555;
	margin-bottom: 10px;
}

.btn {
	display: block;
	background: #499bed;
	padding: 10px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

.btn:hover, .btn:focus {
	border: none;
	background: #4189d2;
}